.background
{
width:100%;
height:100%;
overflow-x:hidden;
overflow-y:scroll;
background-image:url('texture2.png');
background-repeat:repeat;
}
.square
{
position:relative;
float:left;
width:350px;
height:300px;
margin-left:-50px;
margin-right:50px;
background-color:rgb(240,240,240);
border-color:#FFFFFF;
border-style:solid;
}
.square1
{
position:relative;
float:left;
width:350px;
height:300px;
background-color:rgb(240,240,240);
border-color:#FFFFFF;
border-style:solid;
margin-left:280px;
}
.square2
{
float:left;
position:relative;
width:350px;
height:300px;
background-color:rgb(240,240,240);
border-color:#FFFFFF;
border-style:solid;

}
.square3
{
position:relative;
width:275px;
height:200px;
padding-left:10px;
margin-bottom:50px;
}

.content
{
color: #0E5375;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 100;
font-size: 27px;
}
.content1
{
color: #0E5375;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 100;
font-size: 27px;}
.box1
{
text-align:center;
position:relative;
width:250px;
height:40px;
border-color:#a9a9a9;

}
.box2
{
text-align:center;
position:relative;
width:250px;
height:150px;
float:right
}
.square4
{
text-align:center;
position:relative;
width:250px;
height:200px;
margin-left:10px;
}
.box3
{
text-align:center;
position:relative;
margin-top:0px;
width:250px;
height:40px;
border-color:#1B628F;
margin-left:-10px;


}
.box4
{
text-align:center;
position:relative;
width:250px;
height:150px;
}
.square5
{
text-align:center;
position:relative;
width:250px;;
height:200px;
margin-left:-85px;
}
.box5
{
text-align:center;
position:relative;
width:250px;
height:40px;
border-color:#a9a9a9;

}
.box6
{
text-align:center;
position:relative;
width:250px;
height:150px;
margin-top:0px;
}
.box7
{
text-align:center;
position:relative;
width:1160px;
height:250px;
background-color:white;
margin-left:2px;
border-radius:5px;
}
.box8
{
text-align:center;
position:relative;
width:1165px;
height:252px;
z-index:0;
background-color:#1B628F;
opacity:.5;
border-radius:5px;
margin-left:10px;
padding:5px;
}
p.textbox
{
font-family:Gill Sans,Helvetica Neue;Helvetica;Arial,Sans-Serif;
font-weight:100;
font-size: 14px;
}
headers
{
color:#8E9094;
}
