.tophalf {
background-color:#eee;
height:322px;
width:100%;
top:0px;
position:relative;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
}
.centeredBox {
width:1000px;
float:center;
}
.profileBox
{
width:220px;
padding:10px;
float:left;
position:relative;
left:-15fpx;
top:45px;
}
#profilePicture {
width:205px;
height:185px;
}
#profilePicture img {
width:205px;
height:185px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#tiles li img {
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

#roundCorners {
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

#nameLabel
{
width:193px;
background:rgb(255,255,255);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
filter:alpha(opacity=40);
z-index:1;
transition: opacity .5s;
-moz-transition: opacity .5s;
-webkit-transition: opacity .5s;
-o-transition: opacity .5s;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
position: relative;
top:0px;
padding:6px;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-family:'helvetica neue',helvetica,'lucida grande',arial;color:#fff;
font-weight:300 !important;
color:#333;
}
.portfolioDrop {
width:100%;
height:50px;
background-color:#eee;
}
.portfolioDrop ul li {
display:inline;
position:relative;
top:10px;
padding:10px;
font-size:13px;
}
.portfolioDrop ul li a {
color:#333;
}
.profileRightSide {
width:880px;
float:left;
height:270px;
border-bottom: 1px solid #c6c6c6;
}
.profileBottomNav {
width: 690px;
height:50px;
float:left;
margin-left:110px;
padding-top:14px !important;
}
.profileBottomNav ul a {
text-decoration:none;
}
.profileBottomNav ul li {
list-style-type:none;
display:inline;
padding:20px 20px 5px 0px !important;
font-weight:500 !important;
color:#333 !important;
font-size: 14px !important;
font-style: normal !important;
font-variant: normal !important;
font-weight: normal !important;
}
#profileBigText {
padding:6px;
font-weight:300;
color:#333;
font-size: 22px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-family:'helvetica neue',helvetica,'lucida grande',arial;
}	
#followBlock {
width:280px;
height:60px;
position:relative;
top:20px;
left:-10px;
}
#topPhotosBlock {
width:250px;
height:300px;
float:right;
position:relative;
top:50px;
}
.upArrow {
position:relative;
top:-11px;
z-index:100;
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 10px 14px 10px;
border-color: transparent transparent #fff transparent;
}
.buttonNew {
width:150px;
padding:6px 20px 5px 20px;
font-weight:300;
font-size:15px;
margin-right:5px;
background-color:#fff;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
-webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
}
.oval {
display:inline;
width:150px !important;
padding:6px 20px 5px 20px;
background-color:#fff;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
-webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0px 2px #222;
}
.topHalfBlock {
width:160px;
border-right: 1px solid #c6c6c6;
float:left;
}
.topHalfBlock header {
padding:5px 0px 10px 0px;
font-size:20px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-family:'helvetica neue',helvetica,'lucida grande',arial;
font-weight:300;
color:#333;
text-align:center;
}
#activityText {
overflow:scroll;
margin-top:50px;
height:210px;
}
#bioText {
overflow:hidden;
margin-top:50px;
padding:6px;
height:210px;
font-size:14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-family:'helvetica neue',helvetica,'lucida grande',arial;
font-weight:300;
color:#333;
line-height:20px;
}
#bioText img:hover {
opacity:.7;
}
#bioText ul li {
list-style-type:none;
color:#333;
padding:5px;
font-size: 15px !important;
font-style: normal !important;
font-variant: normal !important;
font-weight: normal !important;
}
#bioText ul li statTxt {
font-size:16px;
}
#bioText ul li img {
margin-top:-5px;
padding-right:6px;
}
.storeContainer
{
    width:96px;
    height: 95px;
    overflow: hidden;
    text-align: center;
    float: left;
    padding:1px;
}
.storeContainer img
{
    width: 96px;
    min-height: 96px;
    display: inline-block;
    margin-top: -115px;
}
.storeContainerOverlay
{
    background: rgba(0,0,0,.9);
    width: 100%;
    height:100%;
    opacity: .55;
}
.storeContainerOverlay header 
{
    color:#fff !important;
    font-size: 13px !important;
    font-family: "helvetica neue", helvetica, arial, sans-serif !important;
    font-weight: 300 !important;
    border:none !important;
    padding: 0 !important;
    text-shadow: 0 0 7px #000;
    -moz-text-shadow: 0 0 7px #000;
    -webkit-text-shadow: 0 0 7px #000;
}
.storeContainerOverlay header:first-child
{
    font-size: 35px !important;
    font-weight: 100 !important;
    text-align: left !important;
    padding: 50px 0 5px 10px !important;
}
.storeContainerOverlay:hover
{
    opacity: 0;
     -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s; 
}
#searchStore {
 padding: 7px 10px 7px 30px;
font-size:15px;
line-height:26px;
font-weight:300;
background-image: url('glass.png');
background-position: .7em 5px;
background-size: 1em 1em;
background-repeat: no-repeat;
width:185px;
}
#portfolioViews {
display:none;
margin-left:480px;
height:50px;
width:400px;
background-color:#000;
}
.activityBox {
width:250px;
font-size:12px;
font-weight:300;
border-bottom:1px solid #c6c6c6;
}
.messageBox {
width:315px;
padding:10px;
clear:both;
overflow:hidden;
border-bottom:1px solid #c6c6c6;
}

.status {
width:100%;
clear:both;
font-size:12px;
font-weight:300;
padding:5px;
border-bottom:1px solid #c6c6c6;
}

.cornerTab {
width:120px;
height:30px;
position:relative;
float:left;
padding:10px 15px 10px 15px;
font-size:20px;
font-weight:300;
color:#333;
background-color:#eee;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 2px #666;
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 2px #666;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 2px #666;
border-bottom:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomright: 4px;
border-top-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.cornerTab img {
width:20px;
padding:10px;
}

.aboutBox {
float:left;
width:600px;
position:relative;
background-color:#eee;
border-bottom:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 3px #666;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
overflow:hidden;
}

.socialBar {
width:440px;
height:55px;
float:left;
overflow:hidden;
}

#memberLevel {
font-size:20px;
font-weight:300;
color:#333;
float:left;
margin-top:17px;
margin-left:20px;
}

#aboutList ul {
width:580px;
float:left;
padding:20px;
}

#aboutList ul li {
list-style-type:none;
padding:10px;
font-size:16px;
line-height:22px;
color:#444;
}

#aboutList ul li #header {
font-size:18px;
padding-right:10px;
width:250px;
color:#333;
display:inline;
overflow:hidden;
}

.graphBox {
width:500px;
position:relative;
float:left;
background-color:#fff;
border-bottom:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45), inset 0 -1px 3px #666;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45), inset 0 -1px 3px #666;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45), inset 0 -1px 3px #666;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
overflow:hidden;
}
